<div class="jumbotron">
  <h1>I'm Learning Rails Dawg</h1>
    <p>Let's do this shit.</p>
  <p><%= link_to "Signup Now", "#", class:"btn btn-primary btn-lg" %></p>
</div>
<%= link_to "Word", "http://google.com" %>
<p>
</p>