<h1>I'm learning rails dawg</h1>
<p>Let's do this shit.</p>
<%= link_to "Word", "http://google.com"%>
<p>
<%= link_to "Signup Now", "#"%>
</p>
<div class="footer">
<small>
Created by Jesse Cato
</small>
</div>