<div class="jumbotron">
  <h1>I'm learning rails dawg</h1>
    <p>Let's do this shit.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Signup Now</a></p>
</div>
<%= link_to "Word", "http://google.com" %>
<p>
</p>
